/* Write your CSS here */
.CSK {
  background-image: linear-gradient(#f7db00, #1e293b);
}
.RCB {
  background-image: linear-gradient(#d91c1f, #1e293b);
}
.SH {
  background-image: linear-gradient(#f26d22, #1e293b);
}
.MI {
  background-image: linear-gradient(#4f5db0, #1e293b);
}
.DC {
  background-image: linear-gradient(#4f5db0, #1e293b);
}
.RR {
  background-image: linear-gradient(#da237b, #1e293b);
}
.KKR {
  background-image: linear-gradient(#13418b, #1e293b);
}
.KXP {
  background-image: linear-gradient(#a4261d, #1e293b);
}
.teamMatches-container {
  height: 100vh;
  width: 100vw;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
}
.teamMatches-banner {
  width: 100%;
}
.teamMatches-para-latest {
  font-size: 15px;
  text-align: start;
  font-family: 'Bree Serif';
  font-weight: 500;
  color: #ffffff;
}
@media all and (min-width: 768px) {
  .teamMatches-banner {
    width: 100%;
  }
  .teamMatches-para-latest {
    font-size: 30px;
  }
}
